/* Dashboard.css  */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.body,
html {
    background-color: #ececec;
    margin: 0;
    padding: 0;
}

.container-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.table-head {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.table-container {
    justify-content: center;
    align-items: center;
    overflow: auto;
    border-radius: 10px;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    width: 80%;
}

.title-column h1 {
    font-size: 2rem;
    font-weight: 700;
    color: #044883;
    display: flex;
    align-items: flex-start;
}

.add-column {
    display: flex;
    align-items: flex-end;
    margin-left: auto;
}

.add-button {
    background-color: #044883;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
}

.add-button:hover {
    filter: brightness(90%);
}

.table {
    border-collapse: collapse;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 100%;
}

.table-header {
    background-color: var(--whiteColor);
    border-bottom: 3px solid #ececec;
    box-shadow: 0px 5px 10px -3px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.table-header th {
    padding: 1rem 2rem;
    font-size: 0.875rem;
    font-weight: 700;
}

.table-header td {
    padding: 1rem 2rem;
}

.table-row {
    background-color: #fff;
    border-bottom: gray ;
}

.table-cell {
    padding: 0.75rem;
    font-size: 0.875rem;
}

.action-buttons button {
    margin-right: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.action-buttons button:hover {
    filter: brightness(90%);
}

