@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,800;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

:root {
    --primaryColor: #044883;
    --hoverColor: #9ec3d6;
    --paleBlue: #d1dee9;
    --whiteColor: hsl(0, 0%, 100%);
    --blackColor: hsl(0, 0%, 18%);
    --greyText: hsl(0, 0%, 75%);
    --bgColor: hsl(113, 11%, 85%);
    --inputColor: hsl(330, 12%, 97%);
    --inputColor: hsl(231, 14%, 90%);

    --biggestFontSize: 2.5rem;
    --h1FontSize: 1.5rem;
    --h2FontSize: 1.25rem;
    --h3FontSize: 1rem;
    --normalFontSize: .938rem;
    --smallFontSize: .813rem;
    --smallestFontSize: .75rem;
}

flex {
    display: flex;
    align-items: center;
}

grid {
    display: grid;
    align-items: center;
}


a {
    text-decoration: none;
}

li {
    list-style: none;
}

.icon {
    font-size: var(--h2FontSize);
    cursor: pointer;
}

img {
    height: auto;
    width: 60%;
    margin: auto;
}

.message {
    display: none;
}

.showMessage {
    display: block;
    color: var(--whiteColor);
    background: rgb(255, 0, 0);
    border-radius: 3px;
    text-align: center;
}

.btn {
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 100px;
    /* padding: .8rem 1rem; */
    color: var(--whiteColor);
    background: var(--primaryColor);
}

.btn .icon {
    margin-left: .5rem;
}

.btn:hover {
    color: var(--blackColor);
    background: var(--hoverColor);
    font-weight: bold;
}


.loginPage {
    height: 100vh;
    width: 100%;
    margin: 0;
    border-radius: 0px;
    overflow: hidden;
    justify-content: space-between;

    box-shadow: 0 7px 50px rgb(214, 223, 213);
    font-size: 80%;
    background: hsl(0, 0%, 91%);
}

.container {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
   
    justify-content: space-evenly;
    border-radius: 0px;
    background: hsl(0, 0%, 91%);
}

.coverDiv {
    position: relative;
    flex-basis: 100%;
    width: 100%;
    height: 100%;
    padding: 0;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 0px;
    overflow: hidden;
}


.coverDiv .footerDiv {
    position: absolute;
    bottom: 1rem;
    width: 100%;
    text-align: center;
    color: var(--whiteColor);
}

.cover {
    height: 100%;
    width: 100%;
    object-fit: cover;
    /* position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0; */
}

.footerDiv {
    position: absolute;
    bottom: 10px;
    padding: 0 1rem;
    height: 50px;
    background: rgba(255, 255, 255, 0.248);
    left: 0;
    right: 0;
    justify-content: space-between;
    display: flex;
    align-items: center;
    backdrop-filter: blur(1px);
    border-radius: 10px;
    
}

.footerDiv .btn {
    background: var(--whiteColor);
    color: var(--primaryColor);
    padding: .8rem 1.5rem;
    border-radius: 10px;
    font-weight: 400;
    transition: .3s ease;
    /* height: 40px; */
}

.footerDiv .btn:hover {
    background: var(--hoverColor);
    color: var(--blackColor);
}


.formDiv {
    flex-basis: 50%;
    margin: auto;
    flex-direction: column;
    transform: translateY(-1rem);
}

.formDiv .headerDiv {
    text-align: center;
}

.formDiv .headerDiv img {
    width: 180px;
    padding-bottom: .5rem;
}

.form {
    gap: 1rem;
    margin-left: 10%;
    margin-right: 10%;
    display: grid;
}

.inputDiv .icon {
    color: var(--greyText);
    margin-left: 3%;
}

.inputDiv label {
    color: var(--blackColor);
    font-weight: 400;
    font-size: 14px;
    padding: 0.5rem 0;
    display: block;
}

.inputDiv .input {
    gap: 0.5rem;
    padding: 0.5rem;
    height: 45px;
    background: var(--whiteColor);
    border-radius: 10px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.inputDiv input {
    background: none;
    outline: none;
    border: none;
    width: 100%;
    font-size: 13px;
}

.forgotPassword {
    margin-left: auto;
    margin-right: auto;
}

.loginbtn {
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 100px;
    padding: .8rem 1rem;
    color: var(--whiteColor);
    background: var(--primaryColor);
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.loginbtn:hover {
    color: var(--blackColor);
    background: var(--hoverColor);
    font-weight: bold;
}